NODE_ENV=development
PORT=4001
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RESEND_API_KEY=
EMAIL_FROM=noreply@nlspeaker.com
EMAIL_NOTIFY=admin@nlspeaker.com
FRONTEND_URL=http://localhost:3001
